.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  border-bottom: 1px solid #222;
  }
  .logo{
    flex: 0 2 10%;
  }