body{
  background: linear-gradient(to bottom, #2f2f2f 15%,#2f2f2f 15%,#2f2f2f 29%,#2f2f2f 40%,#000000 100%); 
  font-weight: 400;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  color: white;
  margin: 0;
}
.container {
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #222;
  height: 70px;
  }
.logo{
    font-weight: 700;
    margin-left: 20px;
    flex: 0 1 12.5%;
    cursor: pointer;
  }
  .containNav{
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: repeat(12, 1fr ) ;
    grid-template-rows: repeat(2, auto  );
  }

.navItems{
  margin-top: 0;
  margin-left: 0;
}
.exploreTitle{
  grid-column: 1 / 4;
  grid-row: 1;
  color: #f4e17f;
  text-transform: uppercase;
}
.leftNav{
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 0;
}
ul{
  padding: 0;
  list-style-type: none;  
  overflow: hidden;
  align-self: flex-start;  
  display: inline-flex;
}
.otherNav{
  margin-left: 20px;
  grid-column:4 / 8;
  grid-row: 2;
  color: #acacac;
}
.navItem{
  font-weight: 900;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: capitalize;  
}
.sparks{
  content: sparks
}
.navItem:hover{
  border-bottom: 3px solid;
}
.navOtherItem{
  font-weight: 500;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;  
}
.navOtherItem:hover{
  border-bottom: 3px solid;
}
.pens:hover{
  border-color: #76daff;
}
.projects:hover{
  border-color: #ffdd40;  
}
.posts:hover{
  border-color: #47cf73;  
}
.collections:hover{
  border-color: #ae63e4;  
}
.navItem:first-child{
  margin-left: 0;
}
